@font-face {
  font-family: 'Morris Roman';
  src: url(/public/fonts/morris_roman.ttf);
}

@font-face {
  font-family: Anirom;
  src: url(/public/fonts/anirom.ttf);
}

@font-face {
  font-family: Anirom;
  src: url(/public/fonts/anirom.ttf);
  font-weight: bold;
}

:root {
  --yellow: #febe00;
  --blue: #465854;
  --lightblue: #5dceb5;
  --black: #0f1010;
  --transparent-blue: rgba(86, 184, 163, 0.01);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Anirom, sans-serif;
  background: url('/public/imgs/general_bg_transparent.png');
  background-position: center;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}