@font-face {
  font-family: 'Morris Roman';
  src: url(/public/fonts/morris_roman.ttf);
}

@font-face {
  font-family: Anirom;
  src: url(/public/fonts/anirom.ttf);
}

@font-face {
  font-family: Anirom;
  src: url(/public/fonts/anirom.ttf);
  font-weight: bold;
}

:root {
  --yelow: #af923c;
  --blue: #6b978e;
  --black: #0f1010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Anirom, sans-serif;
}

#root {
  min-height: 100vh;
}