.welcome {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 0.5s;
}

.welcome__background {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/public/imgs/general_bg.jpeg');
  background-position: center;
  background-size: cover;
  transition: opacity 0.5s;
}

.welcome__link {
  padding: 2rem;
  color: var(--yellow);
  font-size: 3rem;
  text-decoration: none;
  transition: transform 0.5s;
  text-align: center;
  z-index: 1;
  text-shadow: 3px 0 black, -3px 0 black, 0 -3px black,  0 3px black;
}

.welcome--hovered .welcome__background {
  opacity: 0.5;
}

.welcome__link:hover {
  transform: scale(1.20);
}

.welcome--clicked {
  opacity: 0;
}
