.pagination {
  display: flex;
  justify-content: center;
}

.pagination__button {
  padding: 0.8rem 1rem;
  margin: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  border-radius: 0.5rem;
  font-family: Anirom;
  font-size: 0.7rem;
  transition: transform 0.1s;
  box-shadow: 0 2px 5px var(--blue);
  color: var(--blue);
}

.pagination__button--active{
  cursor: pointer;
  box-shadow: 0 2px 5px var(--lightblue);
  color: var(--lightblue);
}

.pagination__button--active:hover {
  transform: scale(1.1);
  background-color: var(--lightblue);
  color: var(--black);
}
