.character-main {
  width: max-content;
  max-width: 100%;
  color: white;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.character-main__title {
  color: var(--yellow);
  text-shadow: 3px 0 black, -3px 0 black, 0 -3px black,  0 3px black;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: 'Morris Roman', sans-serif;
  font-size: 3rem;
}

.character-main__text {
  margin-bottom: 0.6rem;
  color: white;
}

.character-main__link {
  margin-top: 1rem;
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--lightblue);
  font-size: 0.9rem;
  transition: transform 0.2s;
}

.character-main__link:hover {
  transform: scale(1.2);
}

.character-main__image {
  display: block;
  margin: 0.5rem auto;
  max-width: 100%;
}
