.quote-card {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  max-width: 100%;
  width: max(40%, 20rem);
  transition: transform 0.2s;
}

.quote-card:hover {
  transform: scale(1.1);
}

.quote-card__title {
  color: var(--yellow);
  text-shadow: 3px 0 black, -3px 0 black, 0 -3px black,  0 3px black;
  font-size: 1.1rem;
  text-align: center;
}

.quote-card__text {
  font-size: 0.8rem;
  text-align: center;
}

.quote-card__link {
  display: block;
  text-decoration: none;
  color: var(--lightblue);
  text-align: center;
  font-size: 0.7rem;
}