.characters-main {
  width: 70rem;
  max-width: 100%;
  color: white;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.characters-main__title {
  color: var(--yellow);
  text-shadow: 3px 0 black, -3px 0 black, 0 -3px black,  0 3px black;
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: 'Morris Roman', sans-serif;
  font-size: 3rem;
}

.characters-main__text {
  margin-bottom: 0.6rem;
  color: white;
}

.characters-main__board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.characters-main__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 2rem;
  width: max-content;
}

.characters-main__label {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  width: max-content;
}

.characters-main__input {
  margin-left: 0.5rem;
  display: block;
  padding: 0.2rem 0.4rem;
}

@media screen and (min-width: 30rem) {
  .characters-main__board {
    justify-content: center;
  }

  .characters-main__form {
    flex-direction: row;
  }
}
